<!DOCTYPE html>
<html lang="en" id="sign_in">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log into StackOverflow-Lite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/login.css" />
</head>

<body>
    <div id="login_form">
        <h2>Sign in to StackOverflow-Lite</h2>

        <label for="username"><b>Username</b></label><br>
        <input type="text" placeholder="Enter your username" name="username" required><br>

        <label for="password"><b>Password</b></label><br>
        <input type="text" placeholder="Enter your password" name="password" required><br>

        <a href="dashboard.html"><button type="submit">Log in</button></a><br>

        <input type="checkbox" name="Remember" value="Remember me"> Remember Me <br>

        <a href="#" title="Forgot Password">Forgot Password</a><br>

        <em>Don't have an account? </em><a href="signup.html" title="Sign up">Sign up here</a>
    </div>
    <div id="footer">
        &copy; 2018, StackOverflow-Lite <br>
        All rights reserved.
    </div>
    
</body>

</html>