<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign up to StackOverflow-Lite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>

<body>

        <div id="description">
                <h1>What is StackOverflow-Lite?</h1>
        
                    <p>
                        StackOverflow-Lite is a simple platform that allows users to ask questions and get
                        answers from other members. Anyone who visits our site can view all the questions and answers,
                        but only registered users can ask questions, post answers, and comment on answers.
        
                        This is a free website where we share information and knowledge. We are very glad to have you join us.
                        Sign up and let us learn and grow together!
                    </p>    
                    <p id="slogan"><b><em>At StackOverflow-Lite, all you have to do is ask!!!</em></b></p>     
        </div>

    <div id="signup_form">
        <h1>Join our community!</h1>

        <label for="username"><b>Username</b></label><br>
        <input type="text" placeholder="Enter your username" name="username" required><br>

        <label for="password"><b>Password</b></label><br>
        <input type="password" placeholder="Enter your password" required><br>

        <label for="email"><b>Email Address</b></label><br>
        <input type="email" placeholder="Enter a valid email address" required><br>

        <a href="login.html"><button type="submit">Sign Up</button></a><br>
        <input type="checkbox" name="Remember" value="Remember me"> Remember Me <br>

        <a href="#" title="Forgot Password">Forgot Password</a><br>

        <em>Already have an account? </em><a href="login.html" title="login">Please login</a>

    </div>

        

    <div id="footer">
        &copy; 2018, StackOverflow-Lite <br>
        All rights reserved.
    </div>
</body>
</html>